:root {
    --primary-color: #c2cacb;
    --secondary-color: #373f41;
    --Highlight-color: #00c9a7;
    --Save-color: #0aaa47;
    --warning-color: #cc3d2a;
    --Active-color: #00a1c9;
    --White-color: #ffffff;
    --Global-padding: 1.5rem;
    --Aside-width: calc(100vw - 95vw);
    --Global-margin-v: 1rem;
    --Global-margin-h: 1rem;
    --Global-gap: 3rem;
    --Global-tag-height: 3.4rem;
    --Global-button-width: 8rem;
    --Headline1: 3rem;
    --Headline2: 1.8rem;
    --Headline3: 1.5rem;
    --Headline4: 1.4rem;
    --Input-radius: 0.9rem;
    --Globalfont: "Roboto", sans-serif;
    --Section-padding: 1.5rem;
    --Image-background: #f0f0f0;
    --Global-radius: .9rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: sans-serif;
}
